@import "tailwindcss";

@theme {
  --font-serif: "Playfair Display", serif;
  --font-sans: "Manrope", sans-serif;
  --font-script: "Pinyon Script", cursive;
  --font-conneqt: "Conneqt", sans-serif;

  --color-bg: #0a0a0a;
  --color-text: #f0f0f0;
  --color-accent: #d4af37;
}



@font-face {
  font-family: 'Conneqt';
  src: url('/assets/ConneqtRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@layer base {
  body {
    background-color: var(--color-bg);
    color: var(--color-text);
    font-family: var(--font-sans);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-serif);
  }
}

/* Scrollbar styling */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--color-bg);
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 4px;
}

/* Mobile Scroll Snap Logic */
@media (max-width: 768px) {

  html,
  body {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    height: 100vh;
    overflow-y: scroll;
  }

  section,
  footer {
    scroll-snap-align: start;
    scroll-snap-stop: always;
    min-height: 100vh;
    /* Ensure sections are at least full height for snapping */
  }
}